/* Specific styles for the ScheduleList component */
ul {
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
}

li {
    background-color: #fff0b3;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    margin: 0;
    color: #ff9933;
}

p {
    margin: 5px 0;
    color: #666;
}

.edit-link {
    background-color: #ffcc00;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
}

.edit-link:hover {
    background-color: #ffb84d;
}
